In [1]:
import pandas as pd

In [15]:
psg_players = pd.Series(['navas', 'Mbappe','Neymar','Messu'],
index=[1, 7, 10, 30]
)

In [16]:
psg_players

1      navas
7     Mbappe
10    Neymar
30     Messu
dtype: object

In [25]:
psg_players = pd.Series(['Navas', 'Mbappe','Neymar','Messu'])

In [26]:
dict = {1:'Navas',7:'Mbappe', 10:'Neymar',30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [27]:
psg_players[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

In [28]:
dict = {'jugador':['Navas', 'Mbappe','Neymar','Messu'],
'Altura':[183.0,170.0,170.0,165.0],
'Goles':[2, 200, 200, 200]}

In [31]:
pd.DataFrame(dict, index=[1, 7, 10, 30])

   jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messu   165.0    200

In [32]:
df_players = pd.DataFrame(dict)

In [33]:
df_players.columns

Index(['jugador', 'Altura', 'Goles'], dtype='object')

In [34]:
df_players.index

RangeIndex(start=0, stop=4, step=1)

In [35]:
df_players

  jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    200
2  Neymar   170.0    200
3   Messu   165.0    200

In [42]:
dict = {'Marca':['Mazda','Chevrolet','Renault','Toyota','Suzuki'],
'Nombre':['Mazda 2','Onix','kwid','Corolla Cross','Jimmy'],
'Tipo':['Hatchback','Sedan','Mini Suv','Suv','Todo Terreno'],
'combustible':['Coriente','Extra','Extra','Extra','Corriente'],
'Precio':[75000000, 80000000, 52000000, 119000000,99000000]}

In [43]:
pd.DataFrame(dict, index=[4, 7, 41, 50, 89])

        Marca         Nombre          Tipo combustible     Precio
4       Mazda        Mazda 2     Hatchback    Coriente   75000000
7   Chevrolet           Onix         Sedan       Extra   80000000
41    Renault           kwid      Mini Suv       Extra   52000000
50     Toyota  Corolla Cross           Suv       Extra  119000000
89     Suzuki          Jimmy  Todo Terreno   Corriente   99000000